* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    height: 100vh;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(3, 33.33%);
    gap: 0;
    width: 100vw;
    height: 100vh;
    border: 1px solid rgb(94, 90, 90);
}

.grid-container > div {
    border: 1px solid rgb(94, 90, 90);
}

.item-1 {
    background-color: red;
    grid-column: 1 / span 2;
}

.item-2 {
    background-color: green;
}

.item-3 {
    background-color: orangered;
    grid-column: 4;
    grid-row: 1 / span 3;
}

.item-4 {
    background-color: purple;
}

.item-5 {
    background-color: deeppink;
}

.item-6 {
    background-color: blue;
}

.item-7 {
    background-color: brown;
}

.item-8 {
    background-color: indigo;
    grid-column: 2 / span 2;
}